:root {
    --button-color: rgba(243, 243, 243, 1);
    --border-size: 30px;
    --border: 0.5px solid rgba(188, 188, 188, 0.5);
}

/*Fick inte nedan font-face att fungera*/
@font-face {
    font-family: 'outfit';
    src: url("/media/Fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

.start-button {
    /*border: var(--border);*/
    text-align: center;
    padding: 2vh 0 2vh 0;
    border-radius: var(--border-radius-size);
    background-color: var(--button-color);
    font-size: 20px;
    margin-bottom: 2vh;
    margin-top: 6vh;
    cursor: pointer;
}

.color-container {
    position: relative;
    height: 3vh;
    background-color: rgba(255, 201, 120, 0.75);
    overflow: hidden;
    border-radius: var(--border-radius-size);
    border: var(--border);
}

.color-cover {
    position: absolute;
    top: 0;
    right: 0;
    /* Börja från vänsterkanten */
    width: 0;
    /* Börja med noll bredd */
    height: 100%;
    background-color: rgba(255, 250, 243, 1);
    border-radius: 0 30px 30px 0;
}

#footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;

}

.element {
    margin-top: auto;
    border-radius: var(--border-radius-size);
    /*border: var(--border);*/
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 7vw;
}

#egg-container {
    height: 64vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.egg {
    width: 250px;
    /* Bredd */
    height: 320px;
    /* Höjd (här kan du justera proportionerna för äggformen) */
    background-color: rgba(255, 246, 232, 1);
    border-radius: 50% / 60% 60% 40% 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.time {
    font-size: 40px;
    font-family: 'outfit';
}

.time-container {
    border-radius: 50%;
    height: 19vh;
    width: 19vh;
    background-color: rgba(255, 201, 120, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}