:root {
    --button-color: rgba(243, 243, 243, 1);
    --border-size: 30px;
    --border: 0.5px solid rgba(188, 188, 188, 0.5);
}


@font-face {
    font-family: 'outfit';
    src: url(/media/Fonts/Outfit/Outfit-VariableFont_wght.ttf);
}

.start-button {
    border: var(--border);
    text-align: center;
    padding: 2vh 0 2vh 0;
    border-radius: var(--border-size);
    background-color: var(--button-color);
    font-size: 20px;
    margin-bottom: 2vh;
    margin-top: 10vh;
    cursor: pointer;
}

.color-container {
    position: relative;
    width: 88vw;
    height: 3vh;
    background-color: rgba(255, 201, 120, 0.75);
    overflow: hidden;
    border-radius: var(--border-size);
    border: var(--border);
}

.color-cover {
    position: absolute;
    top: 0;
    left: 0;
    /* Börja från vänsterkanten */
    width: 0;
    /* Börja med noll bredd */
    height: 100%;
    background-color: rgba(255, 250, 243, 1);
    border-radius: var(--border-size);
}

#footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;

}

.element {
    margin-top: auto;
    border-radius: var(--border-size);
    border: var(--border);
    height: 5vh;
    width: 21vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    cursor: pointer;
}

#egg-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.egg {
    width: 250px;
    /* Bredd */
    height: 320px;
    /* Höjd (här kan du justera proportionerna för äggformen) */
    background-color: rgba(255, 246, 232, 1);
    border-radius: 50% / 60% 60% 40% 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    font-size: 50px;
    font-family: 'outfit';
}

.time-container {
    border-radius: 50%;
    height: 19vh;
    width: 19vh;
    background-color: rgba(255, 201, 120, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}