:root {
    --button-color: rgba(243, 243, 243, 1);
    --border-radius-size: 30px;
    --border: 0.1px solid rgba(188, 188, 188, 0.5);
}

/*Fick inte nedan font-face att fungera*/
@font-face {
    font-family: 'outfit';
    src: url("/media/Fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'inter';
    src: url("/media/Fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'oxygen';
    src: url("/media/Fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

body {
    margin: 2vh 5vw 2vh 5vw;
    background-color: #FAFAFA;
}

* {
    box-sizing: border-box;
    font-family: 'inter';
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
}

header div {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD699;
}

header ion-icon {
    color: #FAFAFA;
    font-size: 40px;
}

header h3 {
    font-size: 17px;
    font-family: "oxygen";
}