#popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    /* Bakgrundsfördunkling med opacity */
    z-index: 1;
}

#popup {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    margin: 0 3vh 0 3vh;
    /*box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);*/
    border-radius: 4px;
    text-align: center;
}

.hidden {
    display: none;
}

#popup-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 3vh;
}

#arrow {
    cursor: pointer;
}

#dots {
    display: flex;
    gap: 3px;
    padding-left: 34vw;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    background-color: rgba(255, 244, 227, 1);
    border: var(--border);
}

#dot1 {
    background-color: rgba(255, 201, 120, 1);
}

#step {
    font-weight: bold;
}