h1 {
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

.radio-button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-container {
    position: relative;
    height: 70px;
    width: 70px;
    margin: 1.5vh;
}

.input-container input {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.input-container .radio-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #FFD699;
    border-radius: 50%;
    border: 1.5px solid black;
}

.input-container label {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 1vh;
}

.curve-png {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

#liquid-curve {
    background-image: url("../media/liquid-curve.png");
}

#soft-curve {
    background-image: url("../media/soft-curve.png");
}

#hard-curve {
    background-image: url("../media/hard-curve.png");
}

#temperature-switcher {
    position: relative;
    display: flex;
    justify-content: center;
}

#temperature-switcher input {
    appearance: none;
    background-color: #FFF4E3;
    border: 1.5px solid gray;
    width: 260px;
    height: 45px;
    border-radius: 25px;
    cursor: pointer;
}

#temperature-switcher label {
    position: absolute;
    background-color: #FFD699;
    z-index: 1;
    height: 35px;
    width: 130px;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    border-radius: 20px;
    cursor: pointer;
}

#temperature-switcher input::before,
#temperature-switcher input::after {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

#temperature-switcher input::before {
    content: 'Room';
    left: 55px;
}

#temperature-switcher input::after {
    content: 'Fridge';
    right: 50px;
}

#temperature-switcher input:checked::after {
    font-weight: bolder;
}

#temperature-switcher input:not(:checked)::before {
    font-weight: bolder;
}

#temperature-switcher input:checked+label {
    left: 128px;
    transition: left 0.5s;
}

#temperature-switcher input:not(:checked)+label {
    left: 11px;
    transition: left 0.5s;
}

footer {
    display: flex;
    justify-content: end;
}

#continue {
    margin-top: 5vh;
}