h1 {
    text-align: center;
    font-family: "inter";
    font-size: 26px;
    margin-top: 6vh;
    margin-bottom: 4vh;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7vh;
}

section:last-of-type {
    margin-bottom: 6vh;
}

section h3 {
    font-family: "inter";
    font-size: 13px;
    margin-bottom: 1vh;
}

.radio-button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-container {
    position: relative;
    height: 70px;
    width: 70px;
    margin: 1.5vh;
}

.input-container input {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.input-container .radio-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #FFD699;
    border-radius: 50%;
    border: 1.5px solid #686868;
}

.input-container input:not(:checked)+.radio-button {
    background-color: #FFF4E3;
    border: 1.5px solid rgb(155, 155, 155);
    opacity: 60%;
}

.input-container label {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 1vh;
    font-family: "inter";
    font-size: 14px;
}

.curve-png {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

#liquid-curve {
    background-image: url("../media/liquid-curve2.png");
}

#soft-curve {
    background-image: url("../media/soft-curve2.png");
}

#hard-curve {
    background-image: url("../media/hard-curve2.png");
}

#temperature-switcher {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 1.5vh;
}

#temperature-switcher input {
    appearance: none;
    background-color: #FFF4E3;
    border: 1px solid rgba(117, 117, 117, 0.5);
    width: 260px;
    height: 45px;
    border-radius: 25px;
    cursor: pointer;
}

#temperature-switcher label {
    position: absolute;
    background-color: #FFD699;
    z-index: 1;
    height: 35px;
    width: 130px;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    border-radius: 20px;
    cursor: pointer;
}

#temperature-switcher input::before,
#temperature-switcher input::after {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

#temperature-switcher input::before {
    content: 'Room';
    left: 55px;
}

#temperature-switcher input::after {
    content: 'Fridge';
    right: 50px;
}

#temperature-switcher input:checked::after {
    font-weight: bolder;
}

#temperature-switcher input:not(:checked)::before {
    font-weight: bolder;
}

#temperature-switcher input:checked+label {
    left: 128px;
    transition: left 0.5s;
}

#temperature-switcher input:not(:checked)+label {
    left: 11px;
    transition: left 0.5s;
}

footer {
    display: flex;
    justify-content: end;
}

#continue {
    text-align: center;
    padding: 1.5vh 4vh;
    border-radius: var(--border-radius-size);
    background-color: var(--button-color);
    font-size: 16px;
    cursor: pointer;
}

#continue:hover {
    background-color: rgb(213, 213, 213);
}